<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DX - Dataflow X</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="root">
        <h1 id="title">Ingestão</h1>
        <form id="dataForm" class="form">
            <label>
                Origem:
                <select id="origin">
                    <option value="ssot">ssot</option>
                    <option value="rentsoft">rentsoft</option>
                    <option value="protheus">protheus</option>
                    <option value="jira">jira</option>
                    <option value="salesforce" disabled>salesforce</option>
                    <option value="defectdojo">defectdojo</option>
                    <option value="portal">portal</option>
                </select>
            </label>
            <label>
                Schema do banco de origem:
                <input type="text" id="schemaDb" required>
            </label>
            <label>
                Nome da tabela ou query:
                <input type="text" id="tableId" required>
            </label>
            <label>
               Tabela no BQ:
                <input type="text" id="tableBq" required>
            </label>
            <label>
                Schema do BQ
                <input type="text" id="schemaBq" value="raw" readonly>
            </label>
            <label>
                Criar somente o schema:
                <input type="checkbox" id="isCreateOnlySchema">
            </label>
            <label>
                Apagar a tabela de destino:
                <input type="checkbox" id="isDelete">
            </label>
            <label>
                Criar a tabela no BQ:
                <input type="checkbox" id="isCreate">
            </label>
            <!-- <label>
                Configuração manual do schema:
                <input type="checkbox" id="isManualSchema">
            </label> -->
            <!-- <label>
                Agendar execução Cloud Scheduler:
                <input type="checkbox" id="isSchedule">
            </label> -->
            <label>
                Agendar execução Dataflow:
                <input type="checkbox" id="isDataflow">
            </label>
            <label class="hidden" id="schedule">
                Agendamento:
                <input type="text" id="scheduleCron" value="0 7 * * *">
            </label>
            <button type="submit">Enviar</button>
        </form>

        <form id="manual-schema" class="form"></form>

        <form id="progress" class="form">
            Processando...
        </form>
        <form id="result" class="form"></form>
        <div id="status"></div>
    </div>
    <script src="/form.js"></script>
    <input type="hidden" name="form-hidden" id="form-hidden" value="">
</body>

</html>