<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scheduler</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="root">
        <h1>Cloud Scheduler Jobs</h1>
        <div id="jobs-container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>Next Schedule Time</th>
                        <th>Last Attempt Time</th>
                        <th>Schedule</th>
                        <!-- <th>Time Zone</th> -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Jobs will be displayed here -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="jobs.js"></script>
</body>

</html>